body {
    margin: 0 auto;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 60px;
    font-weight: 900;
    color: black;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    font-weight: 900;
    color: gray;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 800;
    color: gray;
}

.link-button {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 20px 40px;
    background-color: tomato;
    border-radius: 10px;

}

/* top banner Or Main Header section Start */
.top-banner {
    width: 100vw;
    height: 100vh;
    background-image: url(./images/donation7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-area {
    width: 50vw;
    height: 60wh;
    padding-top: 10%;
    padding-left: 25%;
    text-align: center;
}

.text-area h1 {
    font-family: 'Inter', sans-serif;
    font-size: 65px;
    font-weight: 900;
    color: white;
}

.text-area p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-bottom: 100px;
}

/* top banner Or Main Header section End */

/* Donate Today Section Start From Here */
.donate-today {
    width: 950px;
    height: 650px;
    text-align: center;
    margin-top: 80px;
    margin-left: 450px;
}

.donate-money {
    display: flex;
    justify-content: space-around;
}

.money-card {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.151);
}

.money-card-unique {
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 3px solid tomato;
    background-color: rgba(255, 99, 71, 0.137);
}

.donate-today input {
    margin-top: 50px;
    padding: 10px 350px;
    border: 2px solid gray;
    border-radius: 40px;
    font-size: 20px;
    margin-bottom: 80px;
}

/* Donate Today Section End Here  */